@media all and (max-width: 768px) {

	.navigation {
		width:100%;
		background-color: goldenrod;
		border-radius: 0;
		margin:0;
		padding:0;
		text-align: center;
		top:75px;
	}

	.navigation a {
		display: inline;
		margin: 0 20px;
	}

	.logo {
		/*left: -65px;*/
		width:210px;
	}

	.title {
		padding-left: 130px;
		height:75px;
	}

	h1 {font-size: 60px;}

	h3 {margin-top:25px;}

	.wrapper {
		margin:105px auto 20px auto;
		width:85%;
		min-width:1px;
		border:none;
		display: block;
	}

	.leftcol {margin:0;}

	.img {margin:10px auto;}

	.tfsnimg2 {
		max-width: 470px;
		background-size: 140%;
	}

	.mobilecenter {
		text-align: center;
		display: block;
	}

	.batimg1c, .batimg2c, .batimg3c {
		width:100px;
		display:inline-block;
		margin:10px 15px;
	}

	.hqimg {
		max-width: 440px;}

	.gal {
		margin:1%;
		float: left;
		width:45%;
		/*height:175px;*/
	}

	.batimg1, .batimg2, .batimg3 {display:none;}

}