body {font-family: 'Ubuntu', sans-serif;}

.logo {position: fixed;
	top:-8px;
	left:-84px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    width:333px;
    z-index: 1;
}

.title, .navigation {
	position:fixed;
}

.title {
	width:100%;
	padding-left:250px;
	background-color: goldenrod;
	height:115px;
	top:0;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 100px;
	margin:0;
	color: white;
}

.navigation {
	margin: 0 10px 0 15px;
	padding:30px 20px;
	border: 10px double goldenrod;
	border-top: none;
	border-radius: 0 0 0 30px;
	top:115px;
	width:80px;
}

.navigation a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color:black;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.navigation a:hover {
	color:goldenrod;
}
.navigation a:last-of-type {
	margin-bottom:0;
}

.wrapper {
	margin: 150px 30px 50px 180px;
	padding: 15px;
	border: 10px double goldenrod;
	border-radius: 0 30px 30px 30px;
}